/* 5_css1.css */

body {
  background-color: lightblue;
  margin: 0;
  padding: 0 10px 42px;              
  font-family: "Times New Roman", Times, serif;
  color: black;
}


h1 {
  font-family: Arial, Verdana, sans-serif;
  font-size: 65px;                   
  font-weight: bold;
  text-align: center;
  margin: 20px 0 10px;               
}


h2 {
  font-family: Arial, Verdana, sans-serif;
  font-size: 32px;                   
  font-weight: bold;
  margin: 20px 0 12px;
}

h3 {
  font-family: Arial, Verdana, sans-serif;
  font-size: 21px;                   
  font-weight: 800;
  margin: 16px 0 8px;
}


p {
  font-size: 14px;
  line-height: 1.25;                 
  margin: 0 0 16px;
}


#paragraph2 {
  background: white;
  border: 4px solid green;
  width: 750px;                        
  margin: 20px 0 20px 15px;
  padding: 20px 30px;
  line-height: 2;
}


.blue {
  background: navy;                  
  color: white;
  padding: 16px 12px;
  border: 1px solid black;
  margin: 15px 0;
}


ol {
  list-style-type: decimal-leading-zero;
  padding-left: 30px;
  margin: 25px 0 22px;
}


a {
  color: blue;
}


a[href*="w3schools"] {
  color: darkred;
}


table {
  border-collapse: collapse;
  width: 550px;                      
  margin-top: 10px;
  font-size: 13px;                   
}

th, td {
  border: 1px solid black;
  padding: 8px 10px;                 
  vertical-align: top;
}

th {
  background: lightgray;               
  font-weight: 700;
}

td {
  background: white;
}
